#ext_menu-5 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-5.mbr-navbar--stuck .mbr-navbar__section {
  background: #553982;
}
#ext_menu-5 .mbr-navbar__hamburger {
  color: #f97352;
}
#ext_menu-5 .mbr-navbar__items a {
  font-size: 15px;
}
#header4-7 H1 {
  text-align: left;
  color: #d14841;
  font-size: 46px;
}
#header4-7 P {
  color: #4c6972;
  text-align: center;
}
#header4-7 B {
  font-size: 48px;
}
#ext_menu-k .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-k.mbr-navbar--stuck .mbr-navbar__section {
  background: #553982;
}
#ext_menu-k .mbr-navbar__hamburger {
  color: #f97352;
}
#ext_menu-k .mbr-navbar__items a {
  font-size: 15px;
}
#header4-r H1 {
  text-align: left;
  color: #4c6972;
}
#header4-r P {
  color: #000000;
  text-align: left;
}
#header4-r B {
  font-size: 46px;
}
#header4-s H1 {
  text-align: left;
  color: #553982;
}
#header4-s P {
  color: #000000;
  text-align: left;
}
#header4-s B {
  font-size: 46px;
}
#ext_menu-k .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-k.mbr-navbar--stuck .mbr-navbar__section {
  background: #553982;
}
#ext_menu-k .mbr-navbar__hamburger {
  color: #f97352;
}
#ext_menu-k .mbr-navbar__items a {
  font-size: 15px;
}
#content5-l .mbr-header .mbr-header__text {
  text-align: center;
  color: #4c6972;
}
#content5-l .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-l .mbr-article {
  color: #4c6972;
}
#content5-l .mbr-article P {
  font-size: 18px;
}
#ext_menu-t .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-t.mbr-navbar--stuck .mbr-navbar__section {
  background: #553982;
}
#ext_menu-t .mbr-navbar__hamburger {
  color: #f97352;
}
#ext_menu-t .mbr-navbar__items a {
  font-size: 15px;
}
#form1-u .mbr-header__text {
  color: #3d8eb9;
  font-size: 36px;
}
#form1-u .btn {
  font-size: 15px;
}
