#ext_menu-5 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-5.mbr-navbar--stuck .mbr-navbar__section {
  background: #f7da64;
}
#ext_menu-5 .mbr-navbar__hamburger {
  color: #553982;
}
#ext_menu-5 .mbr-navbar__items a {
  font-size: 15px;
}
#header4-7 H1 {
  text-align: center;
  color: #553982;
  font-size: 36px;
}
#header4-7 P {
  color: #553982;
  text-align: center;
}
#header4-7 B {
  font-size: 32px;
}
#ext_menu-k .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-k.mbr-navbar--stuck .mbr-navbar__section {
  background: #f7da64;
}
#ext_menu-k .mbr-navbar__hamburger {
  color: #553982;
}
#ext_menu-k .mbr-navbar__items a {
  font-size: 15px;
}
#header4-r H1 {
  text-align: left;
  color: #553982;
  font-size: 32px;
}
#header4-r P {
  color: #000000;
  text-align: left;
}
#header4-r B {
  font-size: 46px;
}
#header4-s H1 {
  text-align: left;
  color: #553982;
  font-size: 32px;
}
#header4-s P {
  color: #000000;
  text-align: left;
}
#header4-s B {
  font-size: 46px;
}
#ext_menu-t .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-t.mbr-navbar--stuck .mbr-navbar__section {
  background: #553982;
}
#ext_menu-t .mbr-navbar__hamburger {
  color: #7ac673;
}
#ext_menu-t .mbr-navbar__items a {
  font-size: 15px;
}
#form1-u .mbr-header__text {
  color: #553982;
  font-size: 36px;
}
#form1-u .btn {
  font-size: 15px;
}
